body{
	text-transform: none;
	font-family: 'raleway', sans-serif;
	font-weight:200;
	font-size:22px;
	line-height:1.8;
	h1{
		font-size: 40px;
	    font-weight: 600;
	    letter-spacing: 4px;
	    text-transform: uppercase;
	}
	h2{
		font-size:24px;
		font-weight:200;
		padding:0;
		margin:0;
	}
	p{
		font-size:16px;
	}
	img{
		width:100%;
	}
	.row-no-padding {
		[class*="col-"] {
			padding-left: 0 !important;
			padding-right: 0 !important;
		}
	}
	//Top page Intro
	.page-intro{
		text-align:center;
		// background-image: url('../assets/images/northern_lights.jpg');
		background-image: url('../assets/images/forest.jpg');
		background-repeat: no-repeat;
    	background-position: center;
    	background-size: cover;
		padding:40px;
		color:@lightGray;
		position:fixed;
		width:100%;
		.circle-me {
			width: 250px;
			height: 250px;
			border-radius: 150px;
			-webkit-border-radius: 150px;
			-moz-border-radius: 150px;
			background: url('../assets/images/amsterdam.jpg') no-repeat;
			background-size: contain;
			margin:0px auto;
		}
		.resume{
			color: @green;
			a{
				color: @green !important;	
			}
		}
		.social{
			padding:10px;
			a{
				font-size:24px;
				padding:15px;
				color:@white;
			}
		}
		.about{
			margin:auto;
			max-width:700px;
		}
	}
	.spacer{
		min-height:400px;
	}
	//Prev Work Callouts
	.prev-work{
		background-color: @gray;
		.box{
			cursor:pointer;
			background-color:@gray;
			&:hover img {
			  opacity: 0.3;
			}
			&:hover .middle {
			  opacity: 1;
			}
			.middle {
			  transition: .5s ease;
			  opacity: 0;
			  position: absolute;
			  top: 50%;
			  left: 50%;
			  transform: translate(-50%, -50%);
			  -ms-transform: translate(-50%, -50%)
			}
			.text {
			  background-color: @green;
			  color: white;
			  font-size: 14px;
			  padding: 5px 10px;
			}
		}
	}
	.quote{
		padding:20px;
		font-size:18px;
		text-align: center;
		background-color: @gray;
		color:@lightGray;
		position:relative;
	}
	.my-skills{
		background-color: @lightGray;
		text-align:center;
		padding-bottom:100px;
		position:relative;
		.skill-icon{
			text-align: center;
			font-size:60px;
			text-align: center;
			padding:28px;
			.fa-globe{color:@green;}
			.fa-file-code-o{color:#35203b;}
			.fa-sitemap{color:#911146;}
			.fa-users{color:#cf4a30;}
			.fa-cogs{color:#1d83a3;}
			.fa-puzzle-piece{color:#ed8c2b;}
		}
		
	}
	.references{
		position:relative;
		background-color: @pinkish;
		color: @gray;
		.double-quote{
		    background-color: @white;
		    text-align: center;
		    font-size: 25px;
		    line-height: 2;
		    width: 50px;
		    height: 50px;
		    position: absolute;
		    border: 2px solid @gray;
		    border-radius: 100px;
		    margin: auto 0;
		    top: 25px;
		    left: 100px;	
		}
		.reference{
			padding:50px;
			margin:50px 0;
			background-color: @white;
		}
	}
	#ft{
		background-color: @white;
		position:relative;
		padding:10px;
		font-size:12px;
	}
	.overlay{
		position: fixed;
	    width: 100%;
    	top: 0px;
    	height:100%;
    	display:none;
    	.overlay-inner{
    		margin:3%;
    		background-color: #ccc;
    		height:100%;
    		.close{
    			cursor:pointer;
    			margin:10px;
    			text-align: right;
    			border-bottom:1px solid #bbb;
    			img{
    				width:50px;
    				padding:10px;
    			}
    		}
    	}
	}
}