body{
	background-color: #234;
	text-transform: none;
	h1{
		color:blue;
	}
	//Top page Intro
	.page-intro{
		text-align:center;
		padding:40px;
		.circular {
			width: 200px;
			height: 200px;
			border-radius: 100px;
			-webkit-border-radius: 100px;
			-moz-border-radius: 100px;
			background: url('../assets/me_mags.jpg') no-repeat;
			background-size: contain;
		}
	}
}
